.container{
    background: rgb(235, 163, 163);
    padding: 10px 20px;
    border-radius: 15px;
    text-align: center;
    width: 500px;
    margin: auto;
}
#userText{
    color: rgb(3, 163, 3);
}
#computerText{
    color:red;
}
.allButtons{
    width: 150px;
    border-radius: 20px;
    cursor: pointer;
    height: 30px;
    font-size: 20px;
    
}
.allButtons:hover{
    height: 35px;
    color: rgb(32, 84, 174);
}